<html>
 <head>
  <title>Headlines</title>
 </head>
 <body>
  <h2>BBC</h2>
	{% for ar in article['bbc'] %}
           <b><a href="{{ar.link}}">{{ar.title}}</a></b><br />
           <i>{{ar.published}}</i><br />
           <p>{{ar.summary}}</p>
           <hr />
        {% endfor %}
  <h2>ELPAIS</h2>
	{% for ar in article['elpais'] %}
           <b><a href="{{ar.link}}">{{ar.title}}</a></b><br />
           <i>{{ar.published}}</i><br />
           <p>{{ar.summary}}</p>
           <hr />
        {% endfor %}

 </body>
</html>

